* {
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 450px;
    margin: 25px 0px 3px 5px;
}

input, select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 35px 0;
    background: #ffffff;
    /* text-align: start; */
    border: 2px solid #60606088;
}

select {
    /* appearance: none;
    background: url(/react-project/public/img/icons/form_select_arrow_icon.png) no-repeat right;
    background-position-x: calc(100% - 8px); */
    cursor: pointer;
}

/* input {

} */

/* label {
    
} */

.btn-save {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    padding: 17px;
    margin: 3em 0em 1em 0em;
    text-align: center;
    color: #000000;
    border: 1px solid #60606088;
    border-radius: 40px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-save:hover {
    background: #60606088;
    color: #ffffff;
}