/* общий контейнер */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 110px 0 0 0;
    background-color: var(--lt-color-bg);
}

/* контейнер с контентом - главный акцент станицы  */
.mainAccent {
    width: 1200px;
    min-height: calc(80vh - 20px);
    padding: 0 40px;
    margin: 20px 0 170px 0;
    background-color: var(--lt-color-first-accent-menu);
    border-radius: 20px 130px;
}

// заголовок h1
.mainTitle {
    margin: 28px 0 36px 10px;
    color: var(--lt-color-text);
    font-family: var(--font-family-base);
    font-size: 34px;
    font-weight: 200;
    letter-spacing: 1px;
}

.mainTitle strong {
    font-weight: 800;
    text-transform: uppercase;
}

// стили компонента Table в его файле