/*
Нормализация блочной модели
для того, чтобы формула расчета 
размеров элементов была удобнее
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
Убираем внутренние отступы 
слева (только тем элементам, 
которым браузеры их добавляют) 
тегам списков ul, ol,у которых 
есть атрибут className 

использование псевдокласса 
:where позволит:
1/ дублировать меньше кода в 
селекторах 
2/ добиться нулевой 
спецефичности селекторов, что 
позволит стилям нормализации 
не мешать основным стилям 
проекта 

использование селектора по 
атрибуту / [className] 
позволит:
стили сброса применятся только 
к тем элементам, которые имеют 
атрибут className
*/

:where(ul, ol):where([className]) {
    padding-left: 0;
}

/*
Убираем внешние отступы со всех 
сторон тегам body, blockquote, 
figure, у которых есть атрибут 
className 
*/

body,
:where(blockquote, figure):where([className]) {
    margin: 0;
}

/*
Убираем внешние вертикальные 
отступы со всех сторон тегам 
заголовков, параграфа, списков, 
у которых есть атрибут 
className 
*/

:where(
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl
):where([className]) {
    margin-block: 0;
}

/* 
Убираем внешний отступ у редкого 
тега описания определения dd, у 
которого есть атрибут className 
*/

:where(dd[className]) {
    margin-left: 0;
}

/*
Убираем стандартный маркер 
маркированного списка, у 
которого есть атрибут className 
*/

:where(ul[className]) {
    list-style: none;
}

/*
Упрощаем работу с изображениями: 
1/ display: block позволит 
преобразовать тег img в блочный 
элемент (по умолчанию 
изображения являются строчными 
элементами и, при просмотре в 
DevTools, можно увидеть отступ в 
несколько пикселей под 
изображением) и убрать отступ
2/ max-width: 100% позволит 
предотвратить появление 
горизонтального скролла, если на 
экран вывелась очень большая 
картинка
*/

img {
    display: block;
    max-width: 100%;
}

/*
Наследуем свойства шрифта для 
полей ввода от родительских 
элементов
*/

input,
textarea,
select,
button {
    font: inherit;
}

/*
Настраиванием тег html для всей 
страницы:
1/ height: 100% позволит прижать 
футер книзу экрана
2/ scroll-behavior: smooth 
позволит сделать плавным скролл 
при клике а якорные ссылки
Это свойство не влияет на 
стандартный скролл страницы 
колесом мыши или на манипуляции 
при помощи тачпада или тачскрина 
мобильного устройства
*/

html {
    height: 100%;
    scroll-behavior: smooth;
}

/*
Настраиванием тег body:
1/ min-height: 100% 
также необходимо для работы логики 
прижимания футера книзу экрана
2/ line-height
позволит унифицировать межстрочный 
интервал для всего текста сайта до 
значения 1.5 (по умолчанию это 
значение 1.2, из-за чего некотрые 
шрифты могут выглядеть слипшимися 
*/

body {
    min-height: 100%;
    line-height: 1.5;
}

/*
Используя синтаксис медиазапросов 
@media, отключаем анимации и 
переходы для людей у которых в 
браузере выставленны 
принудительные настройки для этого 
*/

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
