// .tableRow {
//     background-color: rgba(0, 255, 255, 0.298);
//     text-align: center;
//display: flex;
//     justify-content: center;
// }


/* иконки */
.editIcon, 
.deleteIcon,
.saveIcon,
.cancelIcon {
    stroke: var(--lt-color-text);
	stroke-width: 1px;
    cursor: pointer;
}

.editIcon:hover,
.deleteIcon:hover,
.saveIcon:hover,
.cancelIcon:hover {
    stroke: var(--lt-color-third-accent-hover);
}