// .container {
    // display: flex;
    // justify-content: center;
    // margin-left: 40px;
    // width: 95%;
    // background-color: var(--lt-color-bg);
    // border-radius: 20px;
// }

.table {
    width: 100%;
    margin-bottom: 60px;
    letter-spacing: 2px;
	border: none;
    border-spacing: 10px;
    background-color: transparent;
}