@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&family=Raleway:wght@100;200;300;400;600;900&display=swap');

// :root {
//     --clr-light: #fdffc4;
//     --clr-dark: #00332a;
//     --clr-primary: #dbffa2;
//     --clr-secondary: #c3fcf2;
//     --clr-accent: #ff7750;

//     --foreground: var(--clr-dark);
//     --background: var(--clr-light);

//     --ff-title: "Montserrat", sans-serif;
//     --ff-body: "Raleway", sans-serif;
// }

// .darkmode {
//     --clr-light: #fdffc4;
//     --clr-dark: #00332a;
//     --clr-primary: #202302;
//     --clr-secondary: #00100d;
//     --clr-accent: #ff7750;

//     --foreground: var(--clr-light);
//     --background: var(--clr-dark);
// }

// body {
//     background-color: #ff7750;
// }






// html,
// body,
// #root {
//     width: 100%;
//     height: 100%;
// }

// dark theme
// html[data-theme='dark'] {
//     --button-text-color: #fff;
//     --button-background-color: #4e005c;
//     --button-border-color: #ba8fc2;

//     --input-text-color: #fff;
//     --input-placeholder-text-color: #d7d6d6;
//     --input-background-color: #7c7c7c;
//     --input-border-color: #ba8fc2;

//     --background-color: #292929;
//     --icon-color: #ba8fc2;
// }

// light theme
// html[data-theme='light'] {
//     --button-text-color: #252525;
//     --button-background-color: #f9d4ff;
//     --button-border-color: #4e005c;

//     --input-text-color: #252525;
//     --input-placeholder-text-color: #a7a7d6;
//     --input-background-color: #fff;
//     --input-border-color: #4e005c;

//     --background-color: #dfdfdf;
//     --icon-color: #4e005c;
// }


:root {
//глобальные переменные
//палитра цветов
    --dark-gray: #17252a;
    --dark-gray-green: #222f33;
    --dark-green: #27363b;
    --deep-green: #2b7a78;
    --bright-green: #3aafa9; 
    --light-green: #def2f1;
    --white-shade: #feffff;
    --success: #7dbd6d;
    --error: #a41b1b;

/* светлая тема */
// цвет фона
    --lt-color-bg: var(--bright-green);
// цвет шрифта
    --lt-color-text: var(--white-shade);
// пункты меню, акцент главной страницы и что еще ???
    --lt-color-first-accent-menu: var(--deep-green);
//границы заголовков таблицы и что еще ???
    --lt-color-second-accent-table: var(--dark-green);
//наведение на элементы и что еще ???
    --lt-color-third-accent-hover: var(--dark-gray);
//успех
    --lt-color-success: var(--success);
//ошибка
    --lt-color-error: var(--error);

/* темная тема */
// цвет фона
    --dt-color-bg: var(--gray-green);
// цвет шрифта
    --dt-color-text: var(--light-green);

//палитра теней
    --box-shadow-first: 0 0 4px 4px rgba(0, 0, 0, 0.25);
    --box-shadow-second: 12 12 2px 2px rgb(0 0 0 / 0.25);

//параметры шрифта
    --font-family-base: 'Raleway', sans-serif;
    --font-size-base: 16px;

//параментры контейнера, ограничивающего основную контентную часть 
    // --container-width: 1200px;
    // --container-padding-x: 15px;    
}

// html,
// body {
//     height: 100%;
// }

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    background-color: var(--lt-color-bg);
}

// .app.light {
//     color: #feffff;
//     background-color: var(--lt-color-bg);
// }

// .app.dark {
//     color: #def2f1;
//     background-color: var(--lt-color-third-accent-hover);
// }

// .container {
//     margin: 0 auto;
//     padding: 0 15px;
//     width: 1140px;

//     background-color: #a41b1b;
// }
