@charset "UTF-8";
/*
Нормализация блочной модели
для того, чтобы формула расчета 
размеров элементов была удобнее
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&family=Raleway:wght@100;200;300;400;600;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
Убираем внутренние отступы 
слева (только тем элементам, 
которым браузеры их добавляют) 
тегам списков ul, ol,у которых 
есть атрибут className 

использование псевдокласса 
:where позволит:
1/ дублировать меньше кода в 
селекторах 
2/ добиться нулевой 
спецефичности селекторов, что 
позволит стилям нормализации 
не мешать основным стилям 
проекта 

использование селектора по 
атрибуту / [className] 
позволит:
стили сброса применятся только 
к тем элементам, которые имеют 
атрибут className
*/
:where(ul, ol):where([className]) {
  padding-left: 0;
}

/*
Убираем внешние отступы со всех 
сторон тегам body, blockquote, 
figure, у которых есть атрибут 
className 
*/
body,
:where(blockquote, figure):where([className]) {
  margin: 0;
}

/*
Убираем внешние вертикальные 
отступы со всех сторон тегам 
заголовков, параграфа, списков, 
у которых есть атрибут 
className 
*/
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([className]) {
  margin-block: 0;
}

/* 
Убираем внешний отступ у редкого 
тега описания определения dd, у 
которого есть атрибут className 
*/
:where(dd[className]) {
  margin-left: 0;
}

/*
Убираем стандартный маркер 
маркированного списка, у 
которого есть атрибут className 
*/
:where(ul[className]) {
  list-style: none;
}

/*
Упрощаем работу с изображениями: 
1/ display: block позволит 
преобразовать тег img в блочный 
элемент (по умолчанию 
изображения являются строчными 
элементами и, при просмотре в 
DevTools, можно увидеть отступ в 
несколько пикселей под 
изображением) и убрать отступ
2/ max-width: 100% позволит 
предотвратить появление 
горизонтального скролла, если на 
экран вывелась очень большая 
картинка
*/
img {
  display: block;
  max-width: 100%;
}

/*
Наследуем свойства шрифта для 
полей ввода от родительских 
элементов
*/
input,
textarea,
select,
button {
  font: inherit;
}

/*
Настраиванием тег html для всей 
страницы:
1/ height: 100% позволит прижать 
футер книзу экрана
2/ scroll-behavior: smooth 
позволит сделать плавным скролл 
при клике а якорные ссылки
Это свойство не влияет на 
стандартный скролл страницы 
колесом мыши или на манипуляции 
при помощи тачпада или тачскрина 
мобильного устройства
*/
html {
  height: 100%;
  scroll-behavior: smooth;
}

/*
Настраиванием тег body:
1/ min-height: 100% 
также необходимо для работы логики 
прижимания футера книзу экрана
2/ line-height
позволит унифицировать межстрочный 
интервал для всего текста сайта до 
значения 1.5 (по умолчанию это 
значение 1.2, из-за чего некотрые 
шрифты могут выглядеть слипшимися 
*/
body {
  min-height: 100%;
  line-height: 1.5;
}

/*
Используя синтаксис медиазапросов 
@media, отключаем анимации и 
переходы для людей у которых в 
браузере выставленны 
принудительные настройки для этого 
*/
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --dark-gray: #17252a;
  --dark-gray-green: #222f33;
  --dark-green: #27363b;
  --deep-green: #2b7a78;
  --bright-green: #3aafa9;
  --light-green: #def2f1;
  --white-shade: #feffff;
  --success: #7dbd6d;
  --error: #a41b1b;
  /* светлая тема */
  --lt-color-bg: var(--bright-green);
  --lt-color-text: var(--white-shade);
  --lt-color-first-accent-menu: var(--deep-green);
  --lt-color-second-accent-table: var(--dark-green);
  --lt-color-third-accent-hover: var(--dark-gray);
  --lt-color-success: var(--success);
  --lt-color-error: var(--error);
  /* темная тема */
  --dt-color-bg: var(--gray-green);
  --dt-color-text: var(--light-green);
  --box-shadow-first: 0 0 4px 4px rgba(0, 0, 0, 0.25);
  --box-shadow-second: 12 12 2px 2px rgb(0 0 0 / 0.25);
  --font-family-base: "Raleway", sans-serif;
  --font-size-base: 16px;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  background-color: var(--lt-color-bg);
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 120px;
  height: 70px;
  background-color: var(--lt-color-bg);
  box-shadow: var(--box-shadow-first);
  color: var(--lt-color-text);
  font-family: var(--font-family-base);
  z-index: 1;
}

.headerLogo {
  font-size: 20px;
  line-height: 1;
  font-weight: 700px;
  color: var(--lt-color-text);
  padding-right: 30px;
  font-size: 26px;
  font-weight: 100;
  color: var(--lt-color-text);
  text-decoration: none;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.headerLogo strong {
  font-weight: 800;
  text-transform: uppercase;
}

.headerNav {
  margin-left: auto;
}

.headerNavList {
  display: flex;
  list-style-type: none;
}

.headerNavItem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1px;
  color: var(--lt-color-text);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.headerNavItem:hover {
  color: var(--lt-color-first-accent-menu);
}

.headerMenuBtn {
  display: none;
}

.headerNavItem:nth-child(n+2) {
  margin-left: 60px;
}

/* общий контейнер */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 110px 0 0 0;
  background-color: var(--lt-color-bg);
}

/* контейнер с контентом - главный акцент станицы  */
.mainAccent {
  width: 1200px;
  min-height: calc(80vh - 20px);
  padding: 0 40px;
  margin: 20px 0 170px 0;
  background-color: var(--lt-color-first-accent-menu);
  border-radius: 20px 130px;
}

.mainTitle {
  margin: 28px 0 36px 10px;
  color: var(--lt-color-text);
  font-family: var(--font-family-base);
  font-size: 34px;
  font-weight: 200;
  letter-spacing: 1px;
}

.mainTitle strong {
  font-weight: 800;
  text-transform: uppercase;
}

.table {
  width: 100%;
  margin-bottom: 60px;
  letter-spacing: 2px;
  border: none;
  border-spacing: 10px;
  background-color: transparent;
}

/* .editIcon {
    height: 34px;
}

.deleteIcon {
    height: 34px;
} */
.tableThead th {
  width: 160px;
  padding: 12px;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--lt-color-text);
  border-top: 3px solid var(--lt-color-third-accent-hover);
  border-bottom: 2px solid var(--lt-color-third-accent-hover);
}

.tableTbody td {
  padding: 10px;
  font-weight: 500;
  color: var(--lt-color-text);
  border-bottom: 1px solid var(--lt-color-third-accent-hover);
}

td:nth-child(5),
td:nth-child(6) {
  text-align: center;
}

/* иконки Редактировать/Карандаш и Удалить/Мусорный бак */
.editIcon,
.deleteIcon {
  stroke: var(--lt-color-text);
  stroke-width: 1px;
  cursor: pointer;
}

.editIcon:hover,
.deleteIcon:hover {
  stroke: var(--lt-color-third-accent-hover);
}

/* кнопки Сохранить/Save и Отменить изменения/Cancel */
.cancelBtn,
.saveBtn {
  color: var(--lt-color-text);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cancelBtn:hover,
.saveBtn:hover {
  color: var(--lt-color-third-accent-hover);
}

.popupCardContainer {
  display: flex;
  background-color: var(--lt-color-third-accent-hover);
  position: fixed;
  inset: 0;
  padding: 30px;
}

.cardContent {
  width: 400px;
  height: 500px;
  margin: auto;
  padding: 80px 20px 20px 20px;
  position: relative;
  background-color: var(--lt-color-bg);
  border-radius: 15px;
}

.cardCloseIcon {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 38px;
  height: 38px;
  stroke: var(--lt-color-text);
  stroke-width: 1px;
  cursor: pointer;
}

.cardCloseIcon:hover {
  stroke: var(--lt-color-third-accent-hover);
}

.wordInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: var(--lt-color-text);
  font-size: 34px;
  font-weight: 400;
}

.wordInfoTranslation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: var(--lt-color-third-accent-hover);
  font-size: 26px;
  font-weight: 200;
}

.translationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.btnShowTranslation {
  width: 50%;
  padding: 8px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--lt-color-third-accent-hover);
  background-color: var(--lt-color-first-accent-menu);
  box-shadow: 0 10px 0 var(--lt-color-third-accent-hover);
  border: none;
  border-radius: 20px 130px;
  cursor: pointer;
  transition: all 0.3s;
}

.btnShowTranslation:hover {
  background-color: var(--lt-color-first-accent-menu);
  box-shadow: none;
}

.translationIsShown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 74px;
  /* margin-top: 10px; */
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  border: none;
  border-radius: 20px 130px;
  text-transform: uppercase;
  color: white;
  background-color: var(--lt-color-third-accent-hover);
}

.cardPrevArrow {
  float: left;
  width: 58px;
  height: 58px;
  stroke: var(--lt-color-text);
  stroke-width: 1px;
  cursor: pointer;
  transform: rotate(180deg);
}

.cardPrevArrow:hover {
  stroke: var(--lt-color-third-accent-hover);
}

.cardNextArrow {
  float: right;
  width: 58px;
  height: 58px;
  stroke: var(--lt-color-text);
  stroke-width: 1px;
  cursor: pointer;
}

.cardNextArrow:hover {
  stroke: var(--lt-color-third-accent-hover);
}

.popupAddContainer {
  display: flex;
  background-color: var(--lt-color-third-accent-hover);
  position: fixed;
  inset: 0;
  padding: 30px;
  overflow-y: auto;
}

.addContent {
  width: 400px;
  height: 500px;
  margin: auto;
  padding: 70px 20px 20px 20px;
  position: relative;
  background-color: var(--lt-color-bg);
  border-radius: 15px;
}

.addCloseIcon {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 38px;
  height: 38px;
  stroke: var(--lt-color-text);
  stroke-width: 1px;
  cursor: pointer;
}

.addCloseIcon:hover {
  stroke: var(--lt-color-third-accent-hover);
}

.addFormContainer {
  width: 100%;
  padding: 15px;
}

.addFormInput,
.addFormBtnSubmit {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.addFormFields {
  position: relative;
  margin-bottom: 44px;
}

.addFormLabel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin-left: 4px;
  color: var(--lt-color-text);
  transition: 0.3s;
}

.addFormInput {
  width: 100%;
  padding: 2px 0 0 0;
  border: none;
  border-bottom: 3px solid var(--lt-color-first-accent-menu);
  background-color: transparent;
  outline: none;
  transition: 0.3s;
}

.addFormInput:focus {
  border-bottom: 3px solid var(--lt-color-third-accent-hover);
}

.addFormBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addFormBtnSubmit {
  width: 50%;
  padding: 8px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--lt-color-text);
  background-color: var(--lt-color-first-accent-menu);
  box-shadow: 0 10px 0 var(--lt-color-third-accent-hover);
  border: none;
  border-radius: 20px 130px;
  cursor: pointer;
  transition: all 0.3s;
}

.addFormBtnSubmit:hover {
  background-color: var(--lt-color-first-accent-menu);
  box-shadow: none;
}

.addFormInput:not(:-moz-placeholder-shown) ~ .addFormLabel {
  top: -18px;
  font-size: 14px;
  color: var(--lt-color-text);
}

.addFormInput:focus ~ .formLabel,
.addFormInput:not(:placeholder-shown) ~ .addFormLabel {
  top: -18px;
  font-size: 14px;
  color: var(--lt-color-text);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-base);
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--lt-color-text);
  background-color: var(--lt-color-bg);
}/*# sourceMappingURL=styles.css.map */