.footer {
    width: 100%;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 200;
    /* border-top: 2px solid var(--light-theme-accent-color); */
    color: var(--light-theme-main-text-color);
    background-color: var(--light-theme-main-bg-color);
}