.btnComponent {
    width: 100px;
    cursor: pointer;
    background-color: transparent;
}

/* СТИЛИ ДО ВЕРХНИХ, кнопки прыгали из-за увеличения ширины */
/* .btnComponent {
    width: 15px;
    height: 1px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.btnComponent:hover {
    width: 30px;
} */