/* общий контейнер / темный фон */
.addWordPopupContainer {
    display: flex;
    background-color: var(--light-theme-hover-icons-color);
    position: fixed;
    inset: 0;
    padding: 30px;
    overflow-y: auto;
}
/* карточка попапа */
.addWordPopupContent {
    width: 400px;
    height: 500px;
    margin: auto;
    padding: 70px 20px 20px 20px;
    position: relative;
    background-color: var(--light-theme-main-bg-color);
    border-radius: 15px;
}

/* форма ввода нового слова */
/* .formContainer {
    width: 100%;
    padding: 32px;
}

.formInput,
.formBtnSubmit {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.formFields {
    position: relative;
    margin-bottom: 32px;
} */

/* .formLabel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: var(--light-theme-main-text-color); */
    /* время перехода анимации */
    /* transition: 0.3s;
} */

/* .formInput {
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 3px solid var(--light-theme-accent-color);
    background-color: transparent;
    outline: none; */
    /* время перехода анимации */
    /* transition: 0.3s;
} */

/* .formInput:focus {
    border-bottom: 3px solid var(--light-theme-hover-icons-color);
} */

/* кнопка Сохранить */
/* .formBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formBtnSubmit {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    color: var(--light-theme-main-text-color);
    background-color: var(--light-theme-accent-color);
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.formBtnSubmit:hover,
.formBtnSubmit:focus {
    background-color: var(--light-theme-hover-icons-color);
}

.formInput:focus ~ .formLabel {
    top: -18px;
    font-size: 24px;
    color: black;
} */











/* кнопка Закрыть / иконка Крестик  */
.addWordPopupCloseIcon {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 38px;
    height: 38px;
    stroke: var(--light-theme-main-text-color);
    stroke-width: 1px;
    cursor: pointer;
}

.addWordPopupCloseIcon:hover {
    stroke: var(--light-theme-hover-icons-color);
}














/* .addWordPopupCloseIcon {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 34px;
	height: 34px;
	stroke: var(--whiteshade);
	stroke-width: 1px;
}

.addWordPopupCloseIcon:hover {
    stroke: var(----darkgray);
} */

/* .addWordPopupCloseIcon {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 35px;
    background-color: transparent;
    cursor: pointer;
}

.addWordPopupCloseIcon:hover {
    width: 38px;
} */