.addWordPopup {
    display: flex;
    background-color: #17252a;
    position: fixed;
    inset: 0;
    padding: 30px;
    overflow-y: auto;
}

.addWordPopupContent {
    width: 400px;
    height: 500px;
    margin: auto;
    padding: 80px 20px 20px 20px;
    position: relative;
    background-color: #3aafa9;
    border-radius: 15px;
}

.addWordPopupCloseIcon {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 35px;
    background-color: transparent;
    cursor: pointer;
}

.addWordPopupCloseIcon:hover {
    width: 38px;
}