* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

*, 
::before,
::after {
    box-sizing: border-box;
}

:root {
    --dark-gray: #17252a;
    --gray-green: #222f33;
    --dark-green: #27363B;
    --deep-green: #2b7a78;
    --bright-green: #3aafa9; 
    --light-green: #def2f1;
    --white-shade: #feffff;

/* главная - светлая тема */
    --light-theme-main-bg-color: var(--bright-green);
    --light-theme-main-text-color: var(--white-shade);
    --light-theme-accent-color: var(--deep-green);
    --light-theme-table-borders-color: var(--dark-green);
    --light-theme-hover-icons-color: var(--dark-gray);
/* темная тема */
    --dark-theme-main-bg-color: var(--gray-green);
    --dark-theme-main-text-color: var(--light-green);
}

html, 
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    height: 100%;
    /* background-color: var(--maingreen); */
    /* height: 10vh;
    width: 100%;
    z-index: 20; */
}



/* СТИЛИ ДО СТИЛЕЙ ВЫШЕ */
/* html, 
body {
    height: 100%;
    background-color: #3aafa9;
} */

/* .app {
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}

.app.light {
    color: var(--light-theme-main-text-color);
    background-color: var(--light-theme-main-bg-color);
} 

.app.dark {
    color: var(--dark-theme-main-text-color);
    background-color: var(--dark-theme-main-bg-color);
} */