.formContainer {
    width: 100%;
    padding: 15px;
}

.formInput,
.formBtnSubmit {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.formFields {
    position: relative;
    margin-bottom: 44px;
}

.formLabel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: var(--light-theme-main-text-color);
    /* время перехода анимации */
    transition: 0.3s;
}

.formInput {
    width: 100%;
    padding: 5px 0 5px 0;
    border: none;
    border-bottom: 3px solid var(--light-theme-accent-color);
    background-color: transparent;
    outline: none;
    /* время перехода анимации */
    transition: 0.3s;
}

.formInput:focus {
    border-bottom: 3px solid var(--light-theme-hover-icons-color);
}

/* кнопка Сохранить */
.formBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formBtnSubmit {
    width: 50%;
    padding: 8px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--light-theme-main-text-color);
    background-color: var(--light-theme-accent-color);
    box-shadow: 0 10px 0 var(--light-theme-hover-icons-color);
    border: none;
    border-radius: 20px 130px;
    cursor: pointer;
    transition: all 0.3s;
}

.formBtnSubmit:hover {
    background-color: var(--light-theme-accent-color);
    box-shadow: none;
}

.formInput:focus ~ .formLabel,
.formInput:not(:placeholder-shown) ~ .formLabel {
    top: -18px;
    font-size: 14px;
    color: var(--light-theme-main-text-color);
}



/* СТАРЫЕ СТИЛИ */
/* .popupFormContainer input {
    width: 100%;
    padding: 10px;
    margin: 3px 0 14px 0;
    background-color: var(light-theme-main-text-color);
    border: 2px solid var(--light-theme-hover-icons-color);
}

.btnSubmit {
    width: 50%;
    padding: 8px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--light-theme-hover-icons-color);
    background-color: var(--light-theme-accent-color);
    box-shadow: 0 10px 0 var(--light-theme-hover-icons-color);
    border: none;
    border-radius: 20px 130px;
    cursor: pointer;
    transition: all 0.3s;
}

.btnSubmit:hover {
    background-color: var(--light-theme-accent-color);
    box-shadow: none;
} */