.btn-add-word {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    padding: 17px;
    margin: 1em 0em 1em 0em;
    color: #000000;
    border: 1px solid #60606088;
    border-radius: 40px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-add-word:hover {
    background: #60606088;
    color: #ffffff;
}